.billingBtn {
    width: 225px;
    background-color: #EBEDED;
    border-radius: 20px;
    border-style: none;
    padding: 3px;
    height: 35px;
    color: #918989;
}

.activePlanBtn {
    background-color: #1CB260;
    color: white !important;
    border-radius: 20px;
}

.idlePlanBtn {
    background-color: inherit;
    border-radius: 20px;
}

.idlePlanBtn:hover {
    background-color: #d9dfdf;
}

.billingBtn {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px auto;
}

.yearlyPlanBtn,
.monthlyPlanBtn {
    /* padding-top: 3px; */
    border-style: none;
    font-size: 12px;
    font-weight: 500;
}

.priceDetListItem {
    margin: 5px 0px;
}

.imgPrice {
    height: 20px;
    margin-right: 10px;
}

.saveOffer {
    background-color: #FF66004D;
    font-size: 12px !important;
    line-height: 16px !important;
    width: 60px;
    border-radius: 10px;
    margin-bottom: -10px;
}


/* popup container css */

.pricing_popupContainer {
    background-color: rgba(102, 99, 99, 0.631);
    height: 100vh;
    width: 100vw;
    display: grid;
    /* justify-content: center;
align-items: center; */
    position: fixed;
    top: 30px;
    left: 0px;
}

.pricing_popupBody {
    height: 600px;
    padding: 20px;
    width: 40vw;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    max-width: 400px;
    /* display: grid;
justify-content: center;
align-items: center; */
}

.pricing_popupContent {
    /* display: grid;
justify-content: center;
align-items: center; */
    /* background-color: #1cb260; */
    width: 30vw;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* animate  */

#success_popup svg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -50px;
}

svg.animate path {
    animation: dash 0.75s linear both;
    animation-delay: 0.5s;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 210;
    }
    75% {
        stroke-dashoffset: -220;
    }
    100% {
        stroke-dashoffset: -205;
    }
}

@media screen and (max-width:800px) {
    .pricing_popupContainer {
        background-color: rgba(102, 99, 99, 0.631);
        height: 150vh;
        width: 100vw;
        /* display: grid; */
        /* justify-content: center; */
        /* align-items: center;  */
        /* margin: 0px auto; */
        padding: 20px auto;
        position: fixed;
        top: 30px;
        left: 0px
    }
    .pricing_popupBody {
        padding: 10px;
        width: 99vw;
        height: 550px;
        margin-top: 10vh;
    }
    .pricing_popupContent {
        width: 98vw;
        margin-left: auto;
        margin-right: auto;
    }
}